@font-face {
  font-family: "Rock Salt";
  font-weight: 400;
  src: local("Rock Salt"),
    url("https://fonts.googleapis.com/css?family=Rock+Salt");
}

@font-face {
  font-family: "Kaushan Script";
  font-weight: 400;
  src: local("Kaushan Script"),
    url("https://fonts.googleapis.com/css?family=Kaushan+Script");
}

@font-face {
  font-family: "Lobster";
  font-weight: 400;
  src: local("Lobster"), url("https://fonts.googleapis.com/css?family=Lobster");
}

@font-face {
  font-family: "Bahiana";
  font-weight: 400;
  src: local("Bahiana"), url("https://fonts.googleapis.com/css?family=Bahiana");
}

@font-face {
  font-family: "Lora", serif;
  font-weight: 400;
  src: local("Lora"), url("https://fonts.googleapis.com/css?family=Lora");
}

* {
  color: rgb(77, 77, 77);
  font-family: "Lora", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 300;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
  margin: 0;
}

.button0 {
  color: #fff;
  font-size: 2rem;
  font-family: "Rock Salt";
  position: absolute;
  right: 5rem;
  top: 6rem;
  text-transform: none;
  text-decoration: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1000;
  mix-blend-mode: difference;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

.overlay0 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay0:target {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.popup0 {
  margin: 7rem auto;
  padding: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 1px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup0 .close0 {
  font-family: "Lora";
  position: absolute;
  top: 0rem;
  right: 0.7rem;
  transition: all 200ms;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.popup0 .close0:hover {
  color: rgb(253, 221, 255);
}

.popup0 .content0 {
  font-family: "Lora";
  max-height: 30%;
  overflow: auto;
}

.nav-to-top {
  position: fixed;
  right: 2rem;
  bottom: 1.5rem;
  z-index: 1000;
}

.wrapper {
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.9;
  z-index: 1000;
  margin-top: 1.5rem;
}

.wrapper:hover {
  opacity: 1;
  transition: 0.4s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.wrapper-logo {
  width: fit-content;
  margin: 0rem 0 0 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.header {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  background: url(../images/praiseC.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin-top: -1.5rem;
  padding-top: 250px;
  padding-bottom: 350px;
}

.about {
  padding: 3rem 0 8rem 0;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.passions {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: url(../images/praiseB.jpg) repeat-y;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.passions-item {
  font-family: "Kaushan Script";
  font-size: 2.8rem;
  color: rgb(255, 255, 255);
  margin: auto;
  padding: 0 1rem;
}

.praise {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  padding: 5rem 0;
  background: url(../images/CF13.jpg) repeat center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0;
  flex-wrap: wrap;
  flex-direction: row;
}

.praise-profile {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  max-width: 32.5rem;
  margin-top: 5rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  flex-direction: row;
}

.praise-group-title {
  font-family: "Lora";
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  margin: 1rem 0;
}

.praise-live {
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(211, 0, 127);
  width: fit-content;
  height: fit-content;
  border: 2px solid rgb(211, 0, 127);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  margin-top: 1rem;
  padding: 10px 20px;
  text-decoration: none;
}

.praise-live:hover {
  color: rgb(211, 0, 127);
  border: 2px solid rgb(134, 0, 203);
  transition: 0.4s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.praise-email {
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(211, 0, 127);
  width: fit-content;
  height: fit-content;
  border: 2px solid rgb(211, 0, 127);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  margin-top: 1rem;
  padding: 10px 20px;
  text-decoration: none;
}

.praise-email:hover {
  color: rgb(211, 0, 127);
  border: 2px solid rgb(134, 0, 203);
  transition: 0.4s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.praise-description {
  width: 350px;
  margin-bottom: 1.3rem;
}

.passions0 {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: url(../images/praiseA.jpg) repeat-y;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.events {
  margin: 0;
  padding: 5rem 0;
  background: url(../images/CF13.jpg) repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 0;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.events-section {
  margin-top: 5rem;
}

.events-education-list {
  display: flex;
  margin: 0 20%;
  margin-bottom: 1rem;
}

.events-education-list-date {
  min-width: 15rem;
}

.events-education-list-name {
  color: rgb(211, 0, 127);
}

.events-skills-group {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.events-skills-logo {
  height: 70px;
}
.events-work-group {
  display: flex;
  margin: 0 15%;
  margin-top: 2rem;
}

.events-work-date {
  min-width: 15rem;
}

.events-work-name {
  color: rgb(211, 0, 127);
}

.events-work-text-list ul {
  margin: 0;
  padding: 1rem;
}

.events-volunteer-group {
  display: flex;
  margin: 0 15%;
  margin-top: 2rem;
}

.events-volunteer-date {
  min-width: 15rem;
}

.events-volunteer-name {
  color: rgb(211, 0, 127);
}

.events-volunteer-text-list ul {
  margin: 0;
  padding: 1rem;
}

.passions1 {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: url(../images/CF9.jpg) repeat-y;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.locations {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  background-color: rgb(229, 229, 229);
  background: url(../images/CF13.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 0 5rem 0;
}

.locations img {
  width: 350px;
}

.contact {
  font-size: 1.2rem;
  background-color: rgb(50, 50, 50);
  background: url(../images/CF4.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: rgb(255, 255, 255);
  margin: 0 0;
  padding: 250px 150px;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.contact-items {
  margin: 0;
}

.footer {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#credit0 {
  color: rgb(0, 0, 0);
  font-family: "Lora";
  text-transform: none;
  text-decoration: none;
  margin-top: 1rem;
}

#credit0:hover {
  color: rgb(253, 0, 109);
  transition: 0.4s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#to-the-top {
  font-size: 1.8rem;
  font-family: "Lobster";
  font-weight: 800;
  position: fixed;
  right: 2rem;
  bottom: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  z-index: 1000;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#nav {
  background-color: transparent;
  width: 55%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0 0 0.5rem 0;
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
  mix-blend-mode: difference;
}

#nav li a {
  color: rgb(255, 255, 255);
  font-family: "Lobster";
  font-size: 1.8rem;
  text-transform: capitalize;
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#header-title {
  font-family: "Rock Salt";
  font-weight: 300;
  font-size: 9rem;
  color: rgb(255, 255, 255);
  padding-top: 0;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#header-title:nth-child(1) {
  font-family: "Rock Salt";
  font-weight: 300;
  font-size: 9rem;
  margin: 0;
  color: #ffb300;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-decoration: none;
  mix-blend-mode: difference;
  -webkit-animation: color-change 30s infinite;
  -moz-animation: color-change 30s infinite;
  -o-animation: color-change 30s infinite;
  -ms-animation: color-change 30s infinite;
  animation: color-change 30s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

@-moz-keyframes color-change {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

@-ms-keyframes color-change {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

@-o-keyframes color-change {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}
@keyframes color-change {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

#header-title-dev {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  justify-content: center;
}

#NKUMC-text {
  font-weight: 100;
  text-transform: uppercase;
  width: 30rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 0.3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#galatians {
  font-family: "Lora";
  font-size: 0.95rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 2rem;
  width: 20rem;
}

#about-text {
  display: table;
  font-family: "Lora";
  font-size: 3rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

#NKUMC-link {
  color: rgb(211, 0, 127);
  font-family: "Lora";
  font-size: 0.95rem;
  font-weight: 800;
  text-decoration: none;
}

#about-introduce {
  font-family: "Lora";
  font-size: 0.8rem;
  margin: 2rem 20%;
  margin-top: 2.7rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#theIronYard:hover {
  color: rgb(250, 0, 89);
  transition: 0.1s;
  -webkit-transition: 0.1s;
}

#about-contact {
  margin-top: 1.5rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-transform: uppercase;
}

#about-contact-button {
  font-size: 1rem;
  color: #898989;
  width: fit-content;
  border: 2px solid rgba(137, 137, 137, 0.5);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  padding: 15px 25px;
  text-decoration: none;
}

#about-contact-button:hover {
  color: rgb(118, 118, 118);
  background-color: transparent;
  border: 2px solid rgb(155, 129, 74);
  transition: 0.4s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#praise-text {
  font-family: "Lora";
  font-size: 3rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
}

#praise-text0 {
  font-family: "Lora";
  font-size: 1rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  text-transform: uppercase;
}

#praise-text1 {
  font-family: "Lora";
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  width: 55%;
  margin: auto;
  margin-top: 2rem;
  text-transform: uppercase;
}

#praise-praise-img0 {
  background: url() no-repeat 50px;
  background-position: 3.15rem 1.1rem;
  background-size: 230px;
}

#praise-praise-img1 {
  background: url() no-repeat 50px;
  background-position: 3.15rem 1.1rem;
  background-size: 230px;
}

#praise-live-1 {
  background: url() no-repeat 50px;
  background-position: 3.15rem 1.1rem;
  background-size: 230px;
}

#praise-text2 {
  font-family: "Lora";
  font-size: 1rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  margin-top: 7rem;
  text-transform: uppercase;
}

#passion-2 {
  font-size: 2.3rem;
  padding: 0 20%;
}

#events-text {
  font-family: "Lora";
  font-size: 3rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
}

#events-pdf {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#events-pdf-text {
  color: rgb(255, 255, 255);
  background-color: rgb(211, 0, 127);
  border: 0.1rem solid rgb(211, 0, 127);
  border-radius: 0.4rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-decoration: none;
  text-transform: uppercase;
}

#events-pdf-text:hover {
  color: rgb(211, 0, 127);
  background-color: transparent;
  transition: 0.4s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#events-education-text {
  font-family: "Lora";
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#events-skills-text {
  font-family: "Lora";
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#events-skills-logo-group-1 {
  margin-top: 1.5rem;
}

#events-skills-logo-group-2 {
  margin-top: 0.5rem;
}

#events-work-text {
  font-family: "Lora";
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#events-volunteer-text {
  font-family: "Lora";
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin: 3rem 0;
  text-transform: uppercase;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#locations-text {
  font-family: "Lora";
  font-size: 3rem;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

#locations-introduce {
  font-size: 1.1rem;
  width: fit-content;
  margin: 2rem auto 3rem auto;
}

#contact-verse {
  font-family: "Kaushan Script";
  font-size: 3.2rem;
  color: rgb(255, 255, 255);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#event-link {
  width: fit-content;
  margin: 0 auto;
}

#contact-facebook-link,
#contact-event-link {
  font-size: 1.3rem;
  color: rgb(139, 216, 255);
  margin-bottom: 1rem;
  text-decoration: none;
}

#contact-facebook-link:hover,
#contact-event-link:hover {
  color: rgb(232, 247, 255);
  transition: 0.4s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#contact-event-link:first-child {
  margin-right: 0.3rem;
}

#contact-event-link:nth-child(1) {
  margin-right: 0.3rem;
}

#contact-link {
  color: rgb(139, 216, 255);
}

.button1 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-family: "Bahiana";
  text-transform: none;
  text-decoration: none;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button1:hover {
  color: rgb(253, 0, 109);
}

.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.popup1 {
  margin: 7rem auto;
  padding: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 1px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup1 .close1 {
  font-family: "Lora";
  position: absolute;
  top: 0rem;
  right: 0.7rem;
  transition: all 200ms;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.popup1 .close1:hover {
  color: rgb(253, 221, 255);
}

.popup1 .content1 {
  font-family: "Lora";
  max-height: 30%;
  overflow: auto;
}

#credit1 {
  color: rgb(0, 0, 0);
  font-family: "Lora";
  text-transform: none;
  text-decoration: none;
  margin-top: 1rem;
}

#credit1:hover {
  color: rgb(253, 0, 109);
  transition: 0.4s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#music {
  display: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#music-button {
  display: -webkit-inline-box;
  display: inline-block;
  right: 2.5rem;
  bottom: 4rem;
  position: fixed;
  padding: 5px 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: transparent;
  z-index: 1000;
  box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media (min-width: 1500px) {
  .events-section {
    margin: 2rem 23rem;
  }

  #about-introduce {
    margin: 2rem 30%;
  }
}

@media (max-width: 900px) {
  .button0 {
    font-size: 1.5rem;
    right: 3rem;
  }

  .popup0 {
    width: 50%;
  }

  .passions {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  .passions0 {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  .passions1 {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  .wrapper-logo {
    margin: auto;
    left: 20px;
    top: 40px;
  }

  .wrapper-logo img {
    width: 60px;
  }

  .header {
    background-attachment: local;
    padding-bottom: 230px;
  }

  .header-title {
    font-size: 5rem;
  }

  .passions {
    background-size: 300%;
  }

  .passions-item {
    font-size: 2rem;
  }

  .praise-profile:nth-child(odd) {
    flex-flow: column-reverse;
  }

  .praise-profile:nth-child(even) {
    flex-flow: column-reverse;
  }

  .praise-live-code-div {
  }

  .portflio-live {
    margin-bottom: 1rem;
  }

  .locations img {
    width: 250px;
  }

  .img {
    width: 100%;
  }

  .contact {
    background-attachment: local;
  }

  .popup1 {
    width: 50%;
  }

  #credit0 {
    font-size: 0.8rem;
  }

  #nav {
    width: 90%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    margin-top: -0.5rem;
  }

  #header-title:nth-child(1) {
    font-size: 5.5rem;
  }

  #NKUMC-text {
    font-size: 0.7rem;
    width: fit-content;
  }

  #galatians {
    font-size: 0.65rem;
    margin: auto;
    margin-top: 1.5rem;
    width: 15rem;
  }

  #about-introduce {
    margin: 1rem 10%;
  }

  #about-contact-button {
    margin: 0 10%;
  }

  #praise-profile-img1 {
    order: 1;
    -webkit-order: 1;
  }

  #praise-group {
    order: 2;
    -webkit-order: 2;
  }

  #praise-group-title {
    order: 3;
    -webkit-order: 3;
  }

  #praise-description {
    order: 4;
    -webkit-order: 4;
  }

  #praise-live {
    order: 5;
    -webkit-order: 5;
  }

  #praise-email {
    order: 6;
    -webkit-order: 6;
  }

  #passion-2 {
    font-size: 1.4rem;
  }

  #contact-facebook-link,
  #contact-event-link {
    font-size: 1.1rem;
  }

  #contact-verse {
    font-size: 2rem;
  }

  #locations-introduce {
    margin: 2rem 15% 3rem 15%;
  }

  #music-button {
    display: none;
  }
}

@media (max-width: 550px) {
  .button0 {
    font-size: 0.75rem;
    right: 1rem;
  }

  .popup0 {
    width: 70%;
  }

  .wrapper {
    opacity: 1;
  }

  .wrapper-logo {
    left: 10px;
    top: 25px;
  }

  .wrapper-logo img {
    width: 30px;
  }

  .header {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .praise-group {
    margin: auto;
  }

  .praise-profile {
    display: flex;
    flex-wrap: wrap;
  }

  .passions {
    font-size: 0.7rem;
    width: fit-content;
    margin: auto;
  }

  .passions0 {
    font-size: 0.7rem;
    width: fit-content;
    margin: auto;
  }

  .passions1 {
    font-size: 0.7rem;
    width: fit-content;
    margin: auto;
  }

  .events {
    margin-bottom: 0;
  }

  .events-education-list {
    height: fit-content;
    width: fit-content;
    margin: 3rem auto;
  }

  .events-education-list {
    flex-wrap: wrap;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    margin: 0 1rem;
  }

  .events-education-list-date {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .events-education-list-name {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .events-work-group {
    flex-wrap: wrap;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    margin: 0 1rem;
  }

  .events-work-date {
    height: fit-content;
    width: fit-content;
    margin: 3rem auto;
    margin-bottom: 1rem;
  }

  .events-work-list li {
    margin-bottom: 1rem;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
  }

  .events-volunteer-group {
    flex-wrap: wrap;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    margin: 0 1rem;
  }

  .events-volunteer-date {
    height: fit-content;
    width: fit-content;
    margin: 3rem auto;
    margin-bottom: 1rem;
  }

  .events-volunteer-list li {
    margin-bottom: 1rem;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
  }

  .contact {
    height: auto;
    padding: 5rem 0;
  }

  .popup1 {
    width: 70%;
  }

  #nav {
    width: 100%;
    margin-top: -1rem;
  }

  #nav li a {
    font-size: 1.3rem;
  }

  #header-title:nth-child(1) {
    font-size: 3rem;
  }

  #back-end-dev-text {
    font-size: 0.8rem;
    width: 17rem;
  }

  #contact-verse {
    margin-bottom: 3rem;
  }

  #contact-facebook-link,
  #contact-event-link {
    font-size: 1rem;
  }

  #music-button {
    right: 1.2rem;
    bottom: 2.75rem;
  }

  #to-the-top {
    right: 0.75rem;
    bottom: 0.5rem;
  }
}
